<!doctype html>
<html>
<head>
  <title>My Games Collection</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
  <link href="flags.css" rel="stylesheet" />
  <link href="main.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div id="page">
  <h1 id="main-title">My Games Collection</h1>
  <div id="react-main-mount">
    <%- reactOutput %>
  </div>
</div>
<script src="/main.js"></script>

</body>
</html>
