div.table-responsive {
  border-style: dashed;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

div.table-responsive > table > thead {
  font-weight: 600;
  font-size: 16px;
}

div.table-responsive > button {
  float:right;
}

div#page {
  width: 768px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  div#page {
    width: inherit;
  }
  div.table-responsive {
    border-style: none;
  }
}
